* {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;

}

body {
    margin: 0px calc(50% - 240px);
    background-color: rgba(245, 245, 245, 0.8);
}

.form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    background-color: white;
    height: 594px; width: 396px;


    padding: 27px 36px 27px 36px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    position: relative;
    top: 12px;

    transition: 0.4s ease;

    overflow: hidden;

}

/* .form__element {
    border: solid 1px rgba(0, 0, 0, 0.1);
} */


.form__intro h3 {

    color: #333;
    font-size: 2.4rem;
    line-height: 1.15;
    margin: 0px 0px 12px;
}

.form__intro p {
    color: #333;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0px;
}

.form__group label {
    display: inline-block;
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 6px;
}

.form__group .form__message {
    color: var(--error-color);
    display: none;

}

.form__group .group__input input {
    height: 32px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08) ;
    margin-bottom: 2px;
    border: none;

}
.form__group + .form__group {
    margin-top: 12px;
}


.form__main {
}